<%- include("../partials/header.ejs")  %> 
<%- include("../partials/navbar.ejs")  %> 

<div class="container my-5">
  <div class="row">
    <div class="col-lg-12 mb-4">
      <button class="btn type btn-sm btn-outline-primary">Pie Chart</button>
    </div>
    <div class="col-lg-6">
      <canvas id="myChartKekuatanGempa"></canvas>
    </div>
    <div class="col-lg-6">
      <canvas id="myChartKedalamanGempa"></canvas>
    </div>
    <div class="col-lg-6 mt-4">
      <canvas id="myChartJarakGempa"></canvas>
    </div>
    <div class="col-lg-6 mt-4">
      <canvas id="myChartDampakGempa"></canvas>
    </div>
  </div>
</div>

<script src="/static/tes.js"></script>
<%- include("../partials/footer.ejs")  %> 