<link rel="stylesheet" href="/static/navbar.css">
<nav style="background-color: rgb(244, 242, 249);" class="navbar navbar-expand-lg px-5">
  <div class="container-fluid ">
    <!-- <a class="navbar-brand" href="#">Gempa</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if (css!=='home.css' && css!=='update.css') { %>
            <a style="font-size: 25px;font-weight: 600;color:rgb(148, 125, 125)" class="nav-link active" aria-current="page" href="/"><img style="width: 47px;" src="/static/bmkg.png" alt=""></a>
          <% } else { %>
            <a style="font-size: 25px;font-weight: 600;color:rgb(148, 125, 125)" class="nav-link active" aria-current="page" href="/home"><img style="width: 47px;" src="/static/bmkg.png" alt=""></a>
          <% }  %> 
        </li>
      </ul>
      <!-- <h2 class="m-auto">Test</h2> -->
      <div class=" me-auto">
        <div class="text-center">
          <h4 style="color: rgb(87, 139, 9);">Prediksi Dampak Gempa di Indonesia</h4>
          <strong>Created By Diory Pribadi Sinaga</strong>
        </div>
      </div>
      <!-- <div class="dropdown mx-3">
        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-circle-half-stroke"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="?theme=dark"><i class="fa-solid fa-moon"></i></a></li>
          <li><a class="dropdown-item" href="?theme=light"><i class="fa-regular fa-sun"></i></a></li>
        </ul>
      </div> -->
      <div class="dropdown mx-2">
        <button class="btn btn-sm btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-circle-half-stroke"></i>
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item tema" id="light" href="#"><i class="fa-regular fa-sun" style="color: #edbc07;"></i> (Mode Terang)</button></li>
          <li><button style="max-width: 100%;" class="dropdown-item tema" id="dark"><i class="fa-solid fa-moon"></i>  (Mode Gelap)</button></li>
        </ul>
      </div>
      <form class="d-flex" role="search">
        <% if (css!=='home.css' && css!=='update.css') { %>
          <a href="/admin/login" class="btn btn-sm btn-outline-success" type="submit"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
        <% } else { %>
          <a href="/logout" class="btn btn-sm btn-outline-danger" type="submit"><i class="fa-solid fa-right-to-bracket"></i> Logout</a>
        <% } %> 
      </form>
    </div>
  </div>
</nav>
<div class="peringatan container my-4">
  <div class="alert alert-warning" role="alert">
    <!-- <h4>Perkiraan Gempa!! <span style="font-size: 1.2rem;">(Berdasarkan data terakhir)</span></h4>
    <div class="tengah text-center">
      <strong id="kg">Kekuatan Gempa</strong>
      <strong id="kdg">Kedalaman Gempa</strong>
      <strong id="jg">Jarak Pusat Gempa</strong>
      <strong id="hasil" class="text-center"></strong>
    </div> -->
    <h5 style="font-size: 1.1rem;">Sebelum menggunakan, silahkan kunjungi tutorial di link berikut <a target="_blank" href="https://sinagadiorytutorial.netlify.app/docs/pendahuluan">tutorial</a></h5>
    <h5 style="font-size: 1.1rem;">Kamu juga dapat melihat teori pendukung dalam membangun website ini <a target="_blank" href="https://sinagadiorytutorial.netlify.app/articles/intro">kunjungi</a></h5>
    <h5 style="font-size: 1.1rem;">Informasi selengkapnya mengenai website ini kunjungi link berikut <a target="_blank" href="https://sinagadiorytutorial.netlify.app/aboutwebsite">aboutwebsite</a></h5>
  </div>
</div>
<marquee behavior="scroll" direction="left">
  <h4>Website ini merupakan hasil tugas akhir mahasiswa Matematika UPI yang dibimbing oleh Ibu Dra. Hj. Rini Marwati, M.S dan Dr. Bambang Avip Priatna, M.Si</h4>
</marquee>
<div class="container pt-2">
  <div id="menu" class="mb-3 d-flex">
    <div class="dropdown1 mx-1">
      <button class="dropdown1-btn">Data</button>
      <div class="dropdown1-content">
        <a href="/statistic">Statistik</a>
        <a href="/visualcategory">Kategori</a>
      </div>
    </div>
    <div class="dropdown1">
      <button class="dropdown1-btn mx-1">Decision Tree</button>
      <div class="dropdown1-content">
        <a href="/decisiontree">Prediksi</a>
        <a href="/tabledecisiontree">Table Decision Tree</a>
        <a href="/evaluasidecisiontree/splitvalidation">Evaluasi(Split Validation)</a>
        <a href="/evaluasidecisiontree/crossvalidation">Evaluasi(Cross Validation)</a>
        <a href="/confusionmatrix/performa/splitvalidation">Performa Split Validation</a>
        <a href="/confusionmatrix/performa/crossvalidation">Performa Cross Validation</a>
      </div>
    </div>
    <div class="dropdown1 mx-1">
      <button class="dropdown1-btn terbaru">Data Terbaru</button>
    </div>
    <!-- <div class="dropdown1">
      <button class="dropdown1-btn">KNN</button>
      <div class="dropdown1-content">
        <a href="/knn">Prediksi</a>
        <a href="/tableknn">Table KNN</a>
        <a href="/evaluasiknn/splitvalidation">Evaluasi(Split Validation)</a>
        <a href="/evaluasiknn/crossvalidation">Evaluasi(Cross Validation)</a>
      </div>
    </div> -->
  </div>
</div>
<script>

  const terbaru = document.querySelector(".terbaru")
  terbaru.addEventListener("click",()=>{
    window.location.href="/datanew"
  })
  const tema=document.querySelectorAll(".tema")
  let html=document.getElementById("html")

  for(let d of tema){
    d.addEventListener("click",()=>{
      html.setAttribute("data-bs-theme",d.id)
    })
  }
</script>