<link rel="stylesheet" href="/static/navbar.css">
<nav style="background-color: rgb(244, 242, 249);" class="navbar navbar-expand-lg px-5">
  <div class="container-fluid ">
    <!-- <a class="navbar-brand" href="#">Gempa</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if (css!=='home.css' && css!=='update.css') { %>
            <a style="font-size: 25px;font-weight: 600;color:rgb(148, 125, 125)" class="nav-link active" aria-current="page" href="/"><img style="width: 47px;" src="/static/bmkg.png" alt=""></a>
          <% } else { %>
            <a style="font-size: 25px;font-weight: 600;color:rgb(148, 125, 125)" class="nav-link active" aria-current="page" href="/home"><img style="width: 47px;" src="/static/bmkg.png" alt=""></a>
          <% }  %> 
        </li>
      </ul>
      <form class="d-flex" role="search">
        <% if (css!=='home.css' && css!=='update.css') { %>
          <a href="/admin/login" class="btn btn-sm btn-outline-success" type="submit"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
        <% } else { %>
          <a href="/logout" class="btn btn-sm btn-outline-danger" type="submit"><i class="fa-solid fa-right-to-bracket"></i> Logout</a>
        <% } %> 
      </form>
    </div>
  </div>
</nav>
<div class="container pt-4">
  <div id="menu" class="mb-3 d-flex">
    <div class="dropdown1">
      <button class="dropdown1-btn">Data</button>
      <div class="dropdown1-content">
        <a href="/statistic">Statistik</a>
        <a href="/visualcategory">Kategori</a>
      </div>
    </div>
    <div class="dropdown1">
      <button class="dropdown1-btn">Decision Tree</button>
      <div class="dropdown1-content">
        <a href="/decisiontree">Prediksi</a>
        <a href="/tabledecisiontree">Table Decision Tree</a>
        <a href="/evaluasidecisiontree/splitvalidation">Evaluasi(Split Validation)</a>
        <a href="/evaluasidecisiontree/crossvalidation">Evaluasi(Cross Validation)</a>
      </div>
    </div>
    <div class="dropdown1">
      <button class="dropdown1-btn">KNN</button>
      <div class="dropdown1-content">
        <a href="/knn">Prediksi</a>
        <a href="/tableknn">Table KNN</a>
        <a href="/evaluasiknn/splitvalidation">Evaluasi(Split Validation)</a>
        <a href="/evaluasiknn/crossvalidation">Evaluasi(Cross Validation)</a>
      </div>
    </div>
  </div>
</div>