<%- include("partials/header.ejs")  %> 

<div class="container py-3">
  <h1>Halaman Home</h1>
  <h4><%= user.name  %> </h4>
  <a href="/logout" class="btn btn-outline-danger">Logout</a>
</div>

<%- include("partials/footer.ejs")  %> 